{% extends 'base/base.html' %}

{% load static %}


{% block page_content %}

    <form>

        <div class="row mb-4">

            <div class="form-group col-md-9">

                <input name="city" id="exampleFormControlInput5" type="text" placeholder="Type city name"
                       class="form-control form-control-underlined">




            <div class="form-group col-md-3">

                <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>

            </div>

        </div>
        </div>

    </form>


    <h1>ERROR: 500</h1>




{% endblock %}